:root {
  --custom-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.page {
  background-color: var(--primary-white-color);
  color: var(--custom-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .page-header {
    height: 60px;
  }
}

.page-header .container {
  height: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  min-height: 50px;
  min-width: 200px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline-style: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section__title {
  margin-top: 0;
  color: var(--custom-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section__title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: inline-block;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.19;
    padding-bottom: 25px;
    padding-top: 24px;
    margin-right: 93px;
  }
}

.logo-nav {
  color: #000000;
}

.logo-footer {
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .main-nav__menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: 393px;
    background-color: #fff;
    text-align: center;
    top: 100%;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .main-nav__menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.menu--btn {
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu--btn {
    display: none;
  }
}

.menu--btn:hover, .menu--btn:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.menu--btn .icon-cross {
  display: none;
}

.menu--btn.is-open .icon-cross {
  display: block;
}

.menu--btn.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .site-nav__list {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.site-nav__link {
  color: var(--custom-text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    position: relative;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link:hover::after, .site-nav__link:focus::after {
  opacity: 1;
}

.site-nav__link.current {
  color: var(--accent-color);
}

.site-nav__link::after {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__link::after {
    content: "";
    display: block;
    position: static;
    margin-top: 8px;
  }
}

.site-nav__link.current::after {
  opacity: 1;
  visibility: visible;
}

.site-nav__address {
  display: block;
  color: var(--text-color);
}

@media screen and (min-width: 1200px) {
  .site-nav__address {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__address {
    margin-left: auto;
  }
}

.address__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: var(--text-color);
  letter-spacing: 0.02em;
  font-style: normal;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .address__link {
    display: inline-flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .address__link:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .address__link + .address__link {
    margin-top: 10px;
  }
}

.address__icon {
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__logo {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .page-footer > .container {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer > .container {
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer > .container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__address-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__address-container {
    margin-right: 70px;
  }
}

.page-footer__address {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.page-footer__address-item {
  display: block;
  margin-top: 20px;
  margin-bottom: 9px;
}

.page-footer__address-link {
  display: block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__address-link:hover, .page-footer__address-link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .page-footer__social-container {
    margin-bottom: 60px;
  }
}

.page-footer__title {
  margin-bottom: 20px;
  margin-top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.page-footer__social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__social-link:hover, .page-footer__social-link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .page-footer__subscribe-container {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__subscribe-form {
    display: flex;
    position: relative;
  }
}

.page-footer__subscribe-label {
  position: absolute;
  top: 16px;
  left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.page-footer__subscribe-input {
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .page-footer__subscribe-input {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__subscribe-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__subscribe-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__subscribe-input {
    width: 358px;
  }
}

.page-footer__btn.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 10px;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  display: block;
  margin: 0 auto;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/hero_mob.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/hero_mob_x2.jpg");
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/hero_tabl.jpg");
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/hero_tabl_x2.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/hero.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/hero_x2.jpg");
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature {
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-bottom: 94px;
  }
}

.feature__list {
  margin: 0;
  list-style: none;
  color: var(--text-color);
  padding: 0;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.feature__list-item {
  margin: auto;
}

@media screen and (min-width: 768px) {
  .feature__list-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__list-item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .feature__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.feature__list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.feature__list-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--custom-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

@media screen and (max-width: 1199px) {
  .service {
    display: none;
  }
}

.service__list {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.service__list-item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  list-style: none;
}

.service__list-item:nth-child(3n) {
  margin-right: 0;
}

.service__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.service__label-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 27px;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.service__image {
  display: block;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  color: var(--text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
}

.team__list-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-radius: 4px 4px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .team__list-card:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list-card {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list-card {
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
  }
}

@media screen and (max-width: 767px) {
  .team__list-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__description {
  display: block;
  padding: 30px 32px;
}

.description__name {
  text-align: center;
  margin: 0;
  color: var(--custom-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.description__position {
  text-align: center;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.description__social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .description__social-list {
    justify-content: space-between;
  }
}

.description__social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description__social-link:hover, .description__social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.client__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1199px) {
  .client__list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .client__list {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .client__list-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__list-item {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__link:hover, .client__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.client__icon {
  height: 50px;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-items: center;
  perspective: 500px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: scale(5) rotate(180deg);
  opacity: 0;
}

.close-btn {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus, .close-btn:hover {
  fill: var(--accent-color);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__form {
  margin-left: auto;
  margin-right: auto;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 10px;
}

.modal__form-field ::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-label {
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal__form-input {
  margin: 0;
  padding: 12px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus {
  border: 1px solid var(--accent-color);
}

.modal__form-input.comment {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__form-input:focus ~ .modal__input-icon {
  fill: var(--accent-color);
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-field .form-label {
  margin-bottom: 4px;
}

.modal__form-checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__checkbox-label {
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 1200px) {
  .modal__checkbox-label {
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (max-width: 1199px) {
  .modal__checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal__check-icon {
  margin-right: 8px;
  color: var(--primary-white-color);
  border: 2px solid var(--custom-text-color);
  border-radius: 2px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__check-link {
  color: var(--accent-color);
  margin-left: 4px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.visually-hidden.modal__check-input:checked + .modal__check-icon {
  background-color: var(--accent-color);
  background-origin: border-box;
  border: none;
  fill: var(--primary-white-color);
}
/*# sourceMappingURL=main.css.map */