.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature {
  margin-top: 0;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }

  &__list {
    margin: 0;
    list-style: none;
    color: var(--text-color);
    padding: 0;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-top: -15px;
      margin-bottom: -15px;
    }
    @media screen and (min-width: 1200px) {
    }
    &-item {
      margin: auto;
      @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
      }
      @media screen and (min-width: 1200px) {
        width: calc((100% - 4 * 30px) / 4);
        margin: 15px;
      }
      &:not(:last-child) {
        @media screen and (max-width: 767px) {
          margin-bottom: 30px;
        }
      }
    }
    &-text {
      @include font(400, 14px, 1.71);

      margin-top: 0;
      margin-bottom: 0;
    }
    &-title {
      margin-top: 0;
      margin-bottom: 10px;
      color: var(--custom-text-color);
      font-family: Roboto;
      @include font(700, 14px, 1.14);

      text-transform: uppercase;
    }
  }
  &__icon-container {
    @include display(flex, center);
    justify-content: center;

    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--secondary-background-color);
  }
}
