.hero {
  padding-top: 200px;

  text-align: center;
  display: block;
  margin: 0 auto;
  min-height: 600px;
  max-width: 1600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/index/bacground_picture.jpg");
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-white-color);
    @include font(900, 26px, 1.36);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      @include font(900, 44px, 1.36);
    }
  }
}
