.project__list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);

  &-card {
    @media screen and (min-width: 1200px) {
      width: calc((100% - 60px) / 3);
      margin-right: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    margin-bottom: 30px;

    &:nth-child(3n) {
      @media screen and (min-width: 1200px) {
        margin-right: 0;
      }
    }

    &:nth-last-child(-n + 3) {
      @media screen and (min-width: 1200px) {
        margin-bottom: 0;
      }
    }
    &:first-child .project__list-description {
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-bottom: 56px;
      }
    }
  }

  &-description {
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }
  &-title {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--custom-text-color);
    @include font(700, 18px, 2);
    letter-spacing: 0.06em;
  }
  &-type {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
  }
}

.project__link {
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .project-thumb__overlay,
  &:focus .project-thumb__overlay {
    opacity: 1;
    transform: translateY(-100%);
    z-index: 999;
  }
}

.project-thumb {
  position: relative;
  overflow: hidden;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__img {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    @media screen and (max-width: 767px) {
      margin-top: -30px;
      margin-bottom: -30px;
    }
  }

  &__description {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 322px;
    height: 168px;
    margin: 0;
    @include font(400, 18px, 1.56);
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    @media screen and (max-width: 767px) {
      width: 402px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 306px;
      top: 45%;
    }
  }
}
