.section {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
}
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__filter.list {
    @media screen and (min-width: 768px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__filter {
    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
  }
  &__filter-item:not(:last-child) {
    margin-right: 8px;
  }
  &__filter-item:first-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}

.portfolio__filter-button {
  border: none;
  outline-style: none;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  color: var(--custom-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  @include font(500, 16px, 1.63);
  text-align: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
