.service__list {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;

  &-item {
    position: relative;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    list-style: none;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.service__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  &-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 27px;
    margin-bottom: 27px;
    @include font(500, 14px, 1.14);
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
  }
}
.service__image {
  display: block;
}
