.page-footer__social-container {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.page-footer__title {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 0;
  font-style: normal;
  @include font(700, 14px, 1.14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.page-footer__social-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.page-footer__social-link {
  @include display(inline-flex, center);
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
