.page-footer {
  &__subscribe-container {
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
  }
  &__subscribe-form {
    @media screen and (min-width: 1200px) {
      @include centerflex(flex, relative);
    }
  }
  &__subscribe-label {
    position: absolute;
    top: 16px;
    left: 16px;
    color: rgba(255, 255, 255, 0.6);
    @include font(400, 16px, 1.25);
    letter-spacing: 0.03em;
  }
  &__subscribe-input {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    @media screen and (max-width: 1199px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }

    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    @include font(400, 16px, 1.25);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__btn.button {
    @include display(flex, center);
    justify-content: center;
    padding: 25px 10px;

    min-width: 200px;
    height: 50px;
    @include font(700, 16px, 1.86);
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    margin-left: 10px;
    fill: var(--primary-white-color);
  }
}
