.page-footer {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.page-footer__address-container {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.page-footer__address {
  color: var(--primary-white-color);
  font-style: normal;
  @include font(400, 14px, 1.71);

  &-item {
    display: block;
    margin-top: 20px;
    margin-bottom: 9px;
  }
  &-link {
    display: block;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
