.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__logo {
    margin: 0;
    padding: 0;
  }

  & > .container {
    @media screen and (min-width: 768px) {
      display: block;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      align-items: baseline;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
