.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__logo {
    margin: 0;
    padding: 0;
  }

  & > .container {
    @include display(flex, baseline);
  }
}
