.main-nav {
  @media screen and (min-width: 768px) {
    @include display(flex, center);
  }

  @media screen and (max-width: 767px) {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__menu {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }

    @media screen and (max-width: 767px) {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      max-width: 100%;
      height: 393px;
      background-color: #fff;
      text-align: center;
      top: 100%;
      left: 0;
      padding-top: 60px;
      padding-bottom: 60px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 999;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

      &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
}

.menu--btn {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
}

.site-nav__list {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.site-nav__item + .site-nav__item {
  @media screen and (min-width: 768px) {
    margin-left: 50px;
  }
}
.site-nav__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.site-nav__link {
  @media screen and (min-width: 768px) {
    @include centerflex(block, relative);
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(500, 14px, 1.14);
  }
  @media screen and (max-width: 767px) {
    position: relative;
  }
  color: var(--custom-text-color);
  @include font(500, 18px, 1.16);
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;

  &:hover,
  &:focus {
    color: var(--accent-color);

    &::after {
      opacity: 1;
    }
  }

  &.current {
    color: var(--accent-color);
  }

  &::after {
    @media screen and (min-width: 768px) {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
    }
    @media screen and (max-width: 767px) {
      content: "";
      display: block;
      position: static;
      margin-top: 8px;
    }
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.current::after {
    opacity: 1;
    visibility: visible;
  }
}
