@mixin centerflex($type, $poss) {
  display: $type;
  position: $poss;
}
@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}
@mixin display($type, $ai) {
  display: $type;
  align-items: $ai;
}
